<div class="file-upload">

  <div ng-if="vm.uploader.isHTML5" class="upload-div">
    <div nv-file-drop="" uploader="vm.uploader" nv-file-select="">
      <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
        <h3>Drop Invoice Here</h3>
      </div>
    </div>
    <input type="file" nv-file-select="" class="upload" uploader="FileUpload.uploader" multiple/>
  </div>

  <input ng-if="!vm.uploader.isHTML5" type="file" nv-file-select="" name="json" uploader="vm.uploader" multiple />

  <div class="notf-box" ng-class="vm.notification">
    <h5 ng-if="vm.notification === 'dupe'">Duplicate Invoice</h5>
    <h5 ng-if="vm.notification === 'success'">Added Successfully!</h5>
  </div>

</div>
