.invoice-tile {
  padding: 5px 0;
  .data-row {
    display: inline-flex;
    width: 100%;
    > div {
      width: 10%;
      min-width: 115px;
    }
    > div:nth-child(2) {
      width: 15%;
      min-width: 170px;
    }
  }
}
