.stock {
  padding: 20px;
  > h2 {
    font-weight: 100;
  }
  .header {
    display: inline-flex;
    width: 100%;
    > h5 {
      width: 10%;
      min-width: 115px;
    }
    > h5:nth-child(2) {
      width: 20%;
      min-width: 230px;
    }
  }
}
