.stock {
  padding: 20px 0;
  > h2 {
    font-weight: 100;
  }
  .header {
    display: inline-flex;
    width: 100%;
    > h5 {
      width: 10%;
    }
    > h5:nth-child(2) {
      width: 20%;
    }
  }
}
