.supplier-tile {
  margin: 0 -20px;
  padding: 5px 20px;
  border-bottom: 1px solid #999;
  > .data-row {
    display: inline-flex;
    width: 100%;
    > div {
      width: 10%;
      min-width: 115px;
    }
    > div:nth-child(2) {
      width: 20%;
      min-width: 230px;
    }
  }
}
.supplier-tile.even {
  background-color: $background-grey;
}
