.file-upload {
  padding-bottom: 40px;
  border-bottom: 1px solid $grey;
  .my-drop-zone {
    background: transparent;
    position: relative;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 10px 10px 20px;
    border: .125rem dashed #677c7d;
    text-align: center;
  }
}
