

// SOCIAL
$google-red: #dd4b39;
$facebook-blue: #3b5998;
$linkedin-blue: #007bb5;
// SOCIAL

// OTHER
$dotted-border: 2px dotted grey;
$grey: #666;
$light-grey: #999;
$background-grey: rgba(102, 102, 102, 0.1);
